h1 {
    text-align: center;
    font-weight: 700;
    text-decoration: blue underline wavy;
    letter-spacing: 15px;
    font-family: monospace;
    /* upper case */
    text-transform: uppercase;
}

p {
    font-weight: 700;
    line-height: 2;
}

a {
    text-decoration: none;
}