<%- include('partials/head') %>

    <h1>Subreddit Not Found</h1>
    <p>Sorry, but the subreddit <b>
            <%= subreddit %>
        </b> does not exist.</p>
    <%- include('partials/footer') %>